<section class="about container-fluid py-5" id="about">
    <div class="container-sm">
        <div class="row">
            <div class="col-lg-6">
                <h1>About me</h1>
                <p>My name is Muhammad Nur Hazrul. A self-taught programmer while studying full time bachelor's program
                    in Electrical & Eltectronics Engineering. I code everyday putting a bit of time to master the craft
                    by building projects and also learning other languages. Do check out my completed projects. Besides
                    coding, I also do enjoy working out, playing games and learning new things by reading. I am always
                    open to oppotunities to improve myself be it coding or self-improvement </p>
            </div>
            <div class="col-lg-3 mx-auto">
                <h1>Contact Me</h1>
                <a href="mailto:hal1993@hotmail.com">
                    <div class="d-flex py-2">
                        <i class="far fa-envelope my-auto fa-2x"></i>
                        <h4 class="my-auto px-3">Email</h4>
                    </div>
                </a>
                <a href="https://github.com/Hatsuya1993" target="_blank">
                    <div class="d-flex py-2">
                        <i class="fab fa-github fa-2x"></i>
                        <h4 class="my-auto px-3">GitHub</h4>
                    </div>
                </a>
                <a href="https://sg.linkedin.com/in/muhammad-nur-hazrul-b76774126" target="_blank">
                    <div class="d-flex py-2">
                        <i class="fab fa-linkedin fa-2x"></i>
                        <h4 class="my-auto px-3">LinkedIn</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>