<section class="container-fluid projectsItems py-5" id="projectsItems">
    <div class="container-fluid">
        <div class="row container-md mx-auto">
            <div class="col-lg-4 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="image/blog.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Blog (Full-Stack)</h5>
                        <p class="card-text">A simple blog website which allows blog creation, comment on each blog,like
                            a blog,
                            archive blogs, filter blogs </p>
                        <a href="https://secure-coast-24568.herokuapp.com/home/1" target="_blank"
                            class="btn btn-primary">Go to
                            website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="image/agency.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Agency (Front-End)</h5>
                        <p class="card-text">A simple agency website</p>
                        <a href="https://nameless-mesa-51583.herokuapp.com/" target="_blank" class="btn btn-primary">Go
                            to
                            website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="image/car.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Automotive (Front-End)</h5>
                        <p class="card-text">A simple car website</p>
                        <a href="https://evening-coast-91133.herokuapp.com/" target="_blank" class="btn btn-primary">Go
                            to
                            website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="image/portfolio.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio (Front-End)</h5>
                        <p class="card-text">A simple portfolio website</p>
                        <a href="https://shrouded-ravine-04614.herokuapp.com/" target="_blank"
                            class="btn btn-primary">Go
                            to
                            website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="image/sushi.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sushi (Front-End)</h5>
                        <p class="card-text">A simple Japanese cuisine website</p>
                        <a href="https://protected-brook-62291.herokuapp.com/" target="_blank"
                            class="btn btn-primary">Go
                            to
                            website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>