<section class="resumeItems container-fluid" id="resumeItems">
    <div class="container-fluid text-center">
        <img src="image/Res1.JPG" alt="">
        <img src="image/Res2.JPG" alt="">
        <img src="image/Res3.JPG" alt="">
    </div>
</section>