<section class="resumeItems container-fluid" id="resumeItems">
    <div class="container-fluid text-center">
        <img src="image/Capture1.JPG" alt="">
        <img src="image/Capture2.JPG" alt="">
        <img src="image/Capture3.JPG" alt="">
    </div>
</section>