<section class="title container-fluid bg-light d-flex" id="title">
    <div class="container-fluid justify-content-center align-self-center text-center">
        <img src="" alt="">
        <h1><%=title1%></h1>
        <h2><%=title2%></h2>
    </div>
</section>